<div class="section mb-5" style="text-align: center">
  <div class="logo" [innerHtml]="config.logoHtml|safeHtml">
  </div>
  <h2 class="header" style="font-weight: 800" class="mb-0">{{config.title}}</h2>
  <p>{{config.summary}}</p>
  <hr class="mb-3">
</div>

<div class="row">
  <div class="col-12">
    <div class="section">
      <ng-container *ngIf="success">
        <div class="alert alert-success">
          <strong>CONGRATULATIONS!</strong> You have successfully posted this form data to Xano and passed the Google reCAPTCHA validation process.
        </div>
      </ng-container>
      <ng-container *ngIf="!success">
        <div class="alert alert-warning">
          The Google reCAPTCHA service requires whitelisting a domain, so if you are going to be using this demo, make
          sure that <strong>{{domain}}</strong> is whitelisted. When you are using building your own project, you will
          need to change the domain to whatever you are using.
        </div>
        <div class="alert alert-warning">
          This specific demo requires selecting the <strong>reCAPTCHA v2 - "I'm not a robot" Checkbox</strong> setting within the Google reCAPTCHA admin panel.
        </div>

        <div class="text-left">
          <div class="form-group">
            <label>Sample Field</label>
            <app-form-input [form]="form" [name]="'sample_field'" [placeholder]="'Enter some text'" [focus]="true">
            </app-form-input>
            <small class="form-text text-muted">Enter whatever you want... email... favorite restaurant...
              anything</small>
          </div>
          <div class="mb-3" [formGroup]="form">
            <re-captcha #captchaRef="reCaptcha" (resolved)="true" formControlName="g-recaptcha-response"></re-captcha>
            <app-form-input [form]="form" [name]="'g-recaptcha-response'" [type]="'hidden'">
            </app-form-input>
          </div>

          <button type="button" (click)="submit()" class="btn btn-primary">Submit</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- 
  <div *ngIf="result">
    <div *ngIf="mode == 'signup'" class="alert alert-primary">
      You are successfully signed up through Google as <b>{{ result.name }}</b>. Next time, you can click the login
      button. Additional requests to the sign up flow will throw an error.
    </div>
    <div *ngIf="mode == 'login'" class="alert alert-primary">
      You are successfully logged in through Google as <b>{{ result.name }}</b>.
    </div>
    <div *ngIf="mode == 'continue'" class="alert alert-primary">
      You are successfully logged in through Google as <b>{{ result.name }}</b>.
    </div>
    <button type="button" class="btn btn-primary" (click)="logout()">logout</button>
  </div> -->